<header>
    <div>
        <img src="images/home/logo.png" alt=""/>
        <ul class="homeNav">
            <li><a href="">首页</a></li>
            <li class="topActive"><a href="#home" >创客中心</a></li>
            <li><a href="#java">产品中心</a></li>
            <li><a href="#php">合作联盟</a></li>
            <li><a href="#ui">关于我们</a></li>
        </ul>
    </div>
</header>
<div class="home-banner">
    <!--<img src="images/home/banner.png" alt="" width="100%" height="560px">-->
    <div style="position: absolute;top:0;height: 100%;width: 1200px;margin:auto;left:0;right: 0;">
        <div class="home-banner-message">
            <p>软融创客空间</p>
            <p>与你同行，携手创新</p>
            <div class="poi">了解更多</div>
        </div>
    </div>
</div>
<div class="home-intro">
    <div class="w1200 auto">
        <div class="home-intro-top">
            <p>软融创客空间</p>
            <p>MAKER SPACE</p>
            <div></div>
        </div>
        <p class="home-intro-message">以技术为基础，通过标准产品、方案定制、技术投资等形式为企业提供全面的IT服务，这不是一个一次性的销售过程，而是要与企业一起成长。</p>
        <ul class="df jcsb home-intro-content">
            <li class="tc">
                <img src="images/home/icon1.png" alt="">
                <p>合作社群</p>
                <p>Cooperation  community</p>
            </li>
            <li class="tc">
                <img src="images/home/icon2.png" alt="">
                <p>创意实践</p>
                <p>Creative practice</p>
            </li>
            <li class="tc">
                <img src="images/home/icon3.png" alt="">
                <p>协助空间</p>
                <p>Collaboration  space</p>
            </li>
            <li class="tc">
                <img src="images/home/icon4.png" alt="">
                <p>开放资源</p>
                <p>Open source</p>
            </li>
        </ul>
    </div>
</div>
<div class="home-content">
    <div class="w1200 auto">
        <div class="home-intro-top">
            <p>创客空间服务项目</p>
            <p>MAKER SPACE</p>
            <div></div>
        </div>
        <ul>
            <li class="df">
                <div class="pct50 df aic">
                    <div class="home-content-message">
                        <div>
                            <span>天使贷</span>
                        </div>
                        <p class="mt30 f30 g1">0 首付  +  分期付款</p>
                        <p class="mt20 f24 g1">主要针对支付能力有限的公司</p>
                    </div>
                </div>
                <div class="pct50 rel home-content-contain">
                    <img src="images/home/pic1.png" alt="">
                    <div class="home-content-intro df fdc jcc" style="display: none;">
                        <p>0首付  分期付</p>
                        <p>起始规模 5-100万</p>
                    </div>
                </div>
            </li>
            <li class="df">
                <div class="pct50 rel home-content-contain">
                    <img src="images/home/pic3.png" alt="">
                    <div class="home-content-intro df fdc jcc" style="display: none;">
                        <p>专业技术团队</p>
                        <p>超强技术积累</p>
                    </div>
                </div>
                <div class="pct50 df aic">
                    <div class="home-content-message">
                        <div>
                            <span>技术投资</span>
                        </div>
                        <p class="mt30 f30 g1">0 首付  +  分期付款</p>
                        <p class="mt20 f24 g1">主要针对支付能力有限的公司</p>
                    </div>
                </div>
            </li>
            <li class="df">
                <div class="pct50 df aic">
                    <div class="home-content-message">
                        <div>
                            <span>联合投资</span>
                        </div>
                        <p class="mt30 f30 g1">技术+空间+资金+设备</p>
                        <p class="mt20 f24 g1">主要针对支付能力有限的公司</p>
                    </div>
                </div>
                <div class="pct50 rel home-content-contain" >
                    <img src="images/home/pic2.png" alt="">
                    <div class="home-content-intro df jcsa aic" style="display: none;">
                        <div class="tc">
                            <img src="images/home/ui_icon1.png" alt="">
                            <p class="f20 tc mt20 wh">技术支持</p>
                            <p class="mt10 f12 wh tc" style="width:100px;">Technical  support</p>
                            <span></span>
                        </div>
                        <div class="tc">
                            <img src="images/home/ui_icon2.png" alt="">
                            <p class="f20 tc mt20 wh">空间提供</p>
                            <p class="mt10 f12 wh tc" style="width:100px;">The space  provided</p>
                            <span></span>
                        </div>
                        <div class="tc">
                            <img src="images/home/ui_icon3.png" alt="">
                            <p class="f20 tc mt20 wh">资金援助</p>
                            <p class="mt10 f12 wh tc" style="width:100px;">Financial aid</p>
                            <span></span>
                        </div>
                        <div class="tc">
                            <img src="images/home/ui_icon4.png" alt="">
                            <p class="f20 tc mt20 wh">设备援助</p>
                            <p class="mt10 f12 wh tc" style="width:100px;">Equipment  assistance</p>
                            <span></span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="form">
    <div>
        <p class="tc">更好的服务给您</p>
        <div class="form-content df aic">
            <form action="" method="get">
                <input type="text" name="form-company" placeholder="公司名称："/>
                <input type="text" name="form-name" placeholder="姓名：">
                <input type="text" name="form-phone" placeholder="联系方式：">
                <div>
                    <textarea name="" id="" cols="30" rows="10" name="form-message" placeholder="留言："></textarea>
                </div>
                <input type="submit" value="提交">
            </form>
            <div class="form-message">
                <p>请留下您的信息或直接联系我们</p>
                <p>我们会根据您的企业现状提供优质的方案</p>
                <p>电话咨询：4007-702-802</p>
                <p>地理位置：上海市松江区江田东路185号9号楼208室</p>
            </div>
        </div>
    </div>
</div>
<div class="home-connect">
    <div class="df aic">
        <ul >
            <li><a href="">天使贷</a></li>
            <li><a href="">技术投资</a></li>
            <li><a href="">联合投资</a></li>
        </ul>
        <ul >
            <li>公司：窝游信息技术（上海）有限公司</li>
            <li>地址：上海市松江区江田东路185号9号楼208室</li>
            <li>邮箱：perterqiu@qq.com</li>
        </ul>
        <div class="home-wx tc">
            <img src="images/home/qrcode.png" alt=""/>
            <p class="tc">关注微信了解更多</p>
        </div>
        <div class="home-phone df fdc jcc">
            <p>021-67760799</p>
            <p>周一至周五 8:30-18:00</p>
            <p>客服随时在线哦</p>
        </div>
    </div>
</div>
<footer>
    <div class="df aic">
        <p>合作网站：</p>
        <ul class="df">
            <li><a href="">企福集团</a></li>
            <li><a href="">微信</a></li>
            <li><a href="">支付宝</a></li>
            <li><a href="">窝游云</a></li>
            <li><a href="">36K</a></li>
            <li><a href="">沃邻宝</a></li>
        </ul>
        <p class="ml10">@ranron.com版权所有  侵权必究  沪ICP备14038262号-2</p>
    </div>
</footer>