<header>
    <div>
        <img src="images/home/logo.png" alt=""/>
        <ul class="homeNav">
            <li><a href="">首页</a></li>
            <li ><a href="" >创客中心</a></li>
            <li class="topActive"><a href="">产品中心</a></li>
            <li><a href="">合作联盟</a></li>
            <li><a href="">关于我们</a></li>
        </ul>
    </div>
</header>
<div class="home-banner">
    <img src="images/java/banner.png" alt="" width="100%" height="560px">
    <div style="position: absolute;top:0;height: 100%;width: 1200px;margin:auto;left:0;right: 0;">
        <div class="java-banner-message fix">
            <img src="images/java/banner_titl.png" alt="">
            <p class="l f24 wh" style="margin-left: 100px;margin-top:50px;">与你同行，携手创新</p>
            <div class="l">了解更多</div>
        </div>
    </div>
</div>
<div class="java-team rel ">
    <hr>
    <div class="java-head df aic">
        <span></span>
        <span>专业团队</span>
        <span></span>
    </div>
    <p style="width:800px;margin:auto;line-height: 26px;color:#666666;font-size:16px;text-align: center;margin-top: 65px;margin-bottom:40px;">我们是互联网+时代的高端项目制作团队，从事APP制作、网站建设、微信端平台搭建已有多年，在此领域积累了相当丰富的设计经验和策划经验，曾多次为各大公司服务，并取得陪良好的口碑</p>
    <ul class="df w1200 auto">
        <li class="tc">
            <img src="images/java/icon_house.png" alt="" class="mt25">
            <p class="f16 g6 mt20">团队协作</p>
            <p class="f14 g6 mt10">In the same boat</p>
        </li>
        <li class="tc">
            <img src="images/java/icon_king.png" alt="" class="mt25">
            <p class="f16 g6 mt20">团队荣誉</p>
            <p class="f14 g6 mt10">In the same boat</p>
        </li>
        <li class="tc">
            <img src="images/java/icon_power.png" alt="" class="mt25">
            <p class="f16 g6 mt20">团队力量</p>
            <p class="f14 g6 mt10">In the same boat</p>
        </li>
        <li class="tc">
            <img src="images/java/icon_history.png" alt="" class="mt25">
            <p class="f16 g6 mt20">团队过往</p>
            <p class="f14 g6 mt10">In the same boat</p>
        </li>
        <li class="tc">
            <img src="images/java/icon_team.png" alt="" class="mt25">
            <p class="f16 g6 mt20">团队精神</p>
            <p class="f14 g6 mt10">In the same boat</p>
        </li>
    </ul>
</div>
<div class="java-product rel">
    <hr>
    <div class="java-head df aic" style="background: #f5f5f5;top:64px;">
        <span></span>
        <span>专业团队</span>
        <span></span>
    </div>
    <ul class="java-product-nav df jcc mt">
        <li>移动端应用</li>
        <li>微信端产品</li>
        <li>各类型网站</li>
    </ul>
    <ul class="df jcsb fww java-product-content w1200 auto">
        <li>
            <img src="images/java/content2_pic.png" alt="" class="mt20">
            <p class="f14 g1 mt20">互联网+农业</p>
            <p class="f12 g1 mt10">加快弄产品销出效率，减少资源损失</p>
            <div class="java-product-button f12">了解更多</div>
        </li>
        <li>
            <img src="images/java/content2_pic.png" alt="" class="mt20">
            <p class="f14 g1 mt20">互联网+农业</p>
            <p class="f12 g1 mt10">加快弄产品销出效率，减少资源损失</p>
            <div class="java-product-button f12">了解更多</div>
        </li>
        <li>
            <img src="images/java/content2_pic.png" alt="" class="mt20">
            <p class="f14 g1 mt20">互联网+农业</p>
            <p class="f12 g1 mt10">加快弄产品销出效率，减少资源损失</p>
            <div class="java-product-button f12">了解更多</div>
        </li>
        <li>
            <img src="images/java/content2_pic.png" alt="" class="mt20">
            <p class="f14 g1 mt20">互联网+农业</p>
            <p class="f12 g1 mt10">加快弄产品销出效率，减少资源损失</p>
            <div class="java-product-button f12">了解更多</div>
        </li>
        <li>
            <img src="images/java/content2_pic.png" alt="" class="mt20">
            <p class="f14 g1 mt20">互联网+农业</p>
            <p class="f12 g1 mt10">加快弄产品销出效率，减少资源损失</p>
            <div class="java-product-button f12">了解更多</div>
        </li>
        <li>
            <img src="images/java/content2_pic.png" alt="" class="mt20">
            <p class="f14 g1 mt20">互联网+农业</p>
            <p class="f12 g1 mt10">加快弄产品销出效率，减少资源损失</p>
            <div class="java-product-button f12">了解更多</div>
        </li>
        <li>
            <img src="images/java/content2_pic.png" alt="" class="mt20">
            <p class="f14 g1 mt20">互联网+农业</p>
            <p class="f12 g1 mt10">加快弄产品销出效率，减少资源损失</p>
            <div class="java-product-button f12">了解更多</div>
        </li>
        <li>
            <img src="images/java/content2_pic.png" alt="" class="mt20">
            <p class="f14 g1 mt20">互联网+农业</p>
            <p class="f12 g1 mt10">加快弄产品销出效率，减少资源损失</p>
            <div class="java-product-button f12">了解更多</div>
        </li>
    </ul>
    <div class="java-product-btn">
        查看更多
    </div>
</div>
<div class="java-example rel">
    <hr>
    <div class="java-head df aic" style="top:64px;">
        <span></span>
        <span>案例中心</span>
        <span></span>
    </div>
    <p class="tc f16 g1" style="margin-top:50px;">我们已经成功帮助数十家企业建设平台，并且得到了用户的一致好评</p>
    <ul class="auto w1200 java-example-content df jcsb">
        <li>
            <img src="images/java/content3_pic.png" alt="">
            <p class="java-example-intro">微信端商城建设</p>
        </li>
        <li>
            <img src="images/java/content3_pic.png" alt="">
        </li>
        <li>
            <img src="images/java/content3_pic.png" alt="">
        </li>
        <li>
            <img src="images/java/content3_pic.png" alt="">
        </li>
        <li>
            <img src="images/java/content3_pic.png" alt="">
        </li>
        <li>
            <img src="images/java/content3_pic.png" alt="">
        </li>
    </ul>
</div>
<div class="java-example rel">
    <hr>
    <div class="java-head df aic" style="top:64px;">
        <span></span>
        <span>服务伙伴</span>
        <span></span>
    </div>
    <ul class="w1200 auto df jcsb" style="margin-top:70px;margin-bottom:60px;">
        <li><img src="images/java/58-logo.png" alt=""></li>
        <li><img src="images/java/taobao-logo.png" alt=""></li>
        <li><img src="images/java/jd-logo.png" alt=""></li>
        <li><img src="images/java/unicom-logo.png" alt=""></li>
        <li><img src="images/java/youku-logo.png" alt=""></li>
    </ul>
</div>
<div class="form">
    <div>
        <p class="tc">更好的服务给您</p>
        <div class="form-content df aic">
            <form action="">
                <input type="text" name="form-company" placeholder="公司名称："/>
                <input type="text" name="form-name" placeholder="姓名：">
                <input type="text" name="form-phone" placeholder="联系方式：">
                <div>
                    <textarea name="" id="" cols="30" rows="10" name="form-message" placeholder="留言："></textarea>
                </div>
                <input type="submit" value="提交">
            </form>
            <div class="form-message">
                <p>请留下您的信息或直接联系我们</p>
                <p>我们会根据您的企业现状提供优质的方案</p>
                <p>电话咨询：4007-702-802</p>
                <p>地理位置：上海市松江区江田东路185号9号楼208室</p>
            </div>
        </div>
    </div>
</div>
<div class="home-connect">
    <div class="df aic">
        <ul >
            <li><a href="">天使贷</a></li>
            <li><a href="">技术投资</a></li>
            <li><a href="">联合投资</a></li>
        </ul>
        <ul >
            <li>公司：窝游信息技术（上海）有限公司</li>
            <li>地址：上海市松江区江田东路185号9号楼208室</li>
            <li>邮箱：perterqiu@qq.com</li>
        </ul>
        <div class="home-wx tc">
            <img src="images/home/qrcode.png" alt=""/>
            <p class="tc">关注微信了解更多</p>
        </div>
        <div class="home-phone df fdc jcc">
            <p>021-67760799</p>
            <p>周一至周五 8:30-18:00</p>
            <p>客服随时在线哦</p>
        </div>
    </div>
</div>
<footer>
    <div class="df aic">
        <p>合作网站：</p>
        <ul class="df">
            <li><a href="">企福集团</a></li>
            <li><a href="">微信</a></li>
            <li><a href="">支付宝</a></li>
            <li><a href="">窝游云</a></li>
            <li><a href="">36K</a></li>
            <li><a href="">沃邻宝</a></li>
        </ul>
        <p class="ml10">@ranron.com版权所有  侵权必究  沪ICP备14038262号-2</p>
    </div>
</footer>