<header>
    <div>
        <img src="images/home/logo.png" alt=""/>
        <ul class="homeNav">
            <li><a href="http://www.ruanron.com">首页</a></li>
            <li><a href="#home" >创客中心</a></li>
            <li><a href="#java">产品中心</a></li>
            <li><a href="#php">合作联盟</a></li>
            <li class="topActive"><a href="#ui">关于我们</a></li>
        </ul>
    </div>
</header>
<div class="ui-banner">
    <!--<img src="images/home/banner.png" alt="" width="100%" height="560px">-->
    <div style="position: absolute;top:0;height: 100%;width: 1200px;margin:auto;left:0;right: 0;">
        <div class="ui-banner-message">
            <p>专业技术团队,专 业技术团队</p>
            <p>与你同行，携手创新与你同行， 携手创新，携手创新</p>
            <div class="poi" ng-click="jump.target()">了解更多</div>
        </div>
    </div>
</div>
<div class="auto" style="width:860px;padding-left: 340px;">
    <div style="width:720px;line-height:36px;text-indent: 48px;margin-top:40px;" class=" f24 g0">
        软融——专注于互联网+技术天使，通过技术开发、技术投资、技术培训、项目运营四种形式为企业提供一站式技术服务！
    </div>
</div>
<div class="ui-intro" id="uitarget">
    <div class="w1200 auto">
        <div class="ui-intro-top">
            <p>我们的团队</p>
            <p>MAKER SPACE</p>
            <div></div>
        </div>
        <ul class="ui-intro-content df fww">
            <li class="df aic">
                <img src="images/ui/team1.png" alt="">
                <p style="width:310px;" class="ml30 lh30 f18 g0">拥有多年的技术总监经验，身经百战，在企业技术方面有着深入的了解，务实，脚踏实地，负责统筹技术全局。</p>
            </li>
            <li class="df aic">
                <img src="images/ui/team2.png" alt="">
                <p style="width:310px;" class="ml30 lh30 f18 g0">视觉设计团队，均有多年大型项目设计制作经验，紧跟流行趋势，注重用户体验，能够准确的表达产品的定位，产品的品质及我们的情怀。</p>
            </li>
            <li class="df aic">
                <img src="images/ui/team3.png" alt="">
                <p style="width:310px;" class="ml30 lh30 f18 g0">公司技术人员涵盖了，前端开发、iOS开发、android开发和后台开发等部门。技能熟练，效率高，效果实现零误差，后台数据安全稳定。用户放心，评价高</p>
            </li>
            <li class="df aic">
                <img src="images/ui/team4.png" alt="">
                <p style="width:310px;" class="ml30 lh30 f18 g0">专业运营团队，曾负责百度旗下项目运营及百姓网运营，运营成本低，转化率高，产品留存率高，公司效益更高。</p>
            </li>
        </ul>
    </div>
</div>
<div class="ui-content">
    <div class="w1200 auto">
        <div class="ui-intro-top" style="margin-top:80px;;">
            <p>我们的环境</p>
            <p>MAKER SPACE</p>
            <div></div>
        </div>
        <ul class="pct100 df fww mt50">
            <li><img src="images/ui/class1.png" alt=""></li>
            <li class="bge0">
                <h1 class="n tc f24 g1 mb10 mt50">多媒体会议室</h1>
                <div style="width:55px;border:1px solid #00bbd3;margin:auto;"></div>
                <p class="f18 g1 lh22 mt10 pr30 pl30">可以满足各种报告会，演讲会、讨论会、学术交流等需求的平台。</p>
            </li>
            <li><img src="images/ui/class1.png" alt=""></li>
            <li class="bge0">
                <h1 class="n tc f24 g1 mb10 mt50">整洁的办公区域</h1>
                <div style="width:55px;border:1px solid #00bbd3;margin:auto;"></div>
                <p class="f18 g1 lh22 mt10 pr30 pl30">在这里，有我们的专业技术团队和强大的运营团队。工作氛围轻松活泼，效率高。</p>
            </li>
            <li class="bge0">
                <h1 class="n tc f24 g1 mb10 mt50">软融学院教室</h1>
                <div style="width:55px;border:1px solid #00bbd3;margin:auto;"></div>
                <p class="f18 g1 lh22 mt10 pr30 pl30">这里硬件设施齐全，学员们在这里将进行轻松、愉悦而又紧张的技术课题。</p>
            </li>
            <li><img src="images/ui/class1.png" alt=""></li>
            <li class="bge0">
                <h1 class="n tc f24 g1 mb10 mt50">轻松的工作氛围</h1>
                <div style="width:55px;border:1px solid #00bbd3;margin:auto;"></div>
                <p class="f18 g1 lh22 mt10 pr30 pl30">公司管理人性化，工作氛围轻松愉悦，这也就造就了高效的工作业绩。</p>
            </li>
            <li><img src="images/ui/class1.png" alt=""></li>
        </ul>
    </div>
</div>
<div class="ui-industry">
    <div class="w1200 auto">
        <div class="ui-industry-top">
            <p>我们的团队</p>
            <p>MAKER SPACE</p>
            <div></div>
        </div>
        <ul class="df fww">
            <li class="df aic mt30">
                <img src="images/ui/industry1.png" alt="">
                <p style="width: 370px;" class="f20 g1 lh30 ml30">引领技术进步，创造技术规范，实现技术创造，帮助各企业成功解决互联网技术难题，成为各企业的技术好帮手。</p>
            </li>
            <li class="df aic mt30">
                <img src="images/ui/industry2.png" alt="">
                <p style="width: 370px;" class="f20 g1 lh30 ml30">细节决定成败，思路决定业路，我们工作严谨细致，以最快的速度，最高的标准给到客户一个满意的答案。</p>
            </li>
            <li class="df aic mt80">
                <img src="images/ui/industry3.png" alt="">
                <p style="width: 370px;" class="f20 g1 lh30 ml30">在互联网+这样一个背景下，引领技术进步，这是软融作为商业机构，技术天使存在的意义和动机，也只是软融必须承担责任和义务。</p>
            </li>
            <li class="df aic mt80">
                <img src="images/ui/industry4.png" alt="">
                <p style="width: 370px;" class="f20 g1 lh30 ml30">专注于互联网＋的技术天使，通过技术开发，技术投资，技术培训，项目运营四种形式去帮助企业实现技术障碍。</p>
            </li>
        </ul>
    </div>
</div>
<div class="form" style="border:none;">
    <div>
        <h1 class="f24 g1 n">留下您的联系方式方便我们联系您：</h1>
        <div class="form-content df aic">
            <form action="">
                <input type="text" name="form-company" placeholder="公司名称："/>
                <input type="text" name="form-name" placeholder="姓名：">
                <input type="text" name="form-phone" placeholder="联系方式：">
                <div>
                    <textarea name="" id="" cols="30" rows="10" name="form-message" placeholder="留言："></textarea>
                </div>
                <input type="submit" value="提交">
            </form>
            <div class="form-message">
                <p>请留下您的信息或直接联系我们</p>
                <p>我们会根据您的企业现状提供优质的方案</p>
                <p>电话咨询：4007-702-802</p>
                <p>地理位置：上海市松江区江田东路185号9号楼208室</p>
            </div>
        </div>
    </div>
</div>
<div class="home-connect">
    <div class="df aic">
        <ul >
            <li><a href="">天使贷</a></li>
            <li><a href="">技术投资</a></li>
            <li><a href="">联合投资</a></li>
        </ul>
        <ul >
            <li>公司：窝游信息技术（上海）有限公司</li>
            <li>地址：上海市松江区江田东路185号9号楼208室</li>
            <li>邮箱：perterqiu@qq.com</li>
        </ul>
        <div class="home-wx tc">
            <img src="images/home/qrcode.png" alt=""/>
            <p class="tc">关注微信了解更多</p>
        </div>
        <div class="home-phone df fdc jcc">
            <p>021-67760799</p>
            <p>周一至周五 8:30-18:00</p>
            <p>客服随时在线哦</p>
        </div>
    </div>
</div>
<footer>
    <div class="df aic">
        <p>合作网站：</p>
        <ul class="df">
            <li><a href="">企福集团</a></li>
            <li><a href="">微信</a></li>
            <li><a href="">支付宝</a></li>
            <li><a href="">窝游云</a></li>
            <li><a href="">36K</a></li>
            <li><a href="">沃邻宝</a></li>
        </ul>
        <p class="ml10">@ranron.com版权所有  侵权必究  沪ICP备14038262号-2</p>
    </div>
</footer>