/*CSS源代码*/
body{
    margin:0;
    padding:0;
    font-family:'Microsoft Yahei';
}

.page        {
    bottom:0;
    position:absolute;
    top:0;
    width:100%;
}


.page-home      {  }
.page-c     {  }
.page-java   {  }
.page-php { }
.page-ui {background: #00bbd3;}

@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

@keyframes rotateDown {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(-10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(-17deg); }
    60%     { transform: rotateZ(-16deg); }
    100%    { transform: translateY(100%) rotateZ(-17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes slideOutBottom{
    to      { transform: translateY(-100%); }
}
/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideInLeft {
    from    { transform:translateX(-100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

@keyframes slideInDown{
    from    { transform:translateY(-100%); }
    to      { transform: translateY(0); }
}
.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-enter         { animation: scaleUp 0.5s both ease-in; }
.page-home.ng-leave         { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in; }

/* c++ ------------------------ */
.page-c.ng-enter        { animation:slideInRight 0.5s both ease-in; }
.page-c.ng-leave        { animation:slideOutBottom 0.5s both ease-in; }

/* java ---------------------- */
.page-java.ng-enter      { animation:slideInUp 0.5s both ease-in; }
.page-java.ng-leave      { transform-origin: 50% 50%; animation: rotateOutNewspaper .5s both ease-in; }

/*PHP------------------*/
.page-php.ng-enter      { animation:slideInLeft 0.5s both ease-in; }
.page-php.ng-leave      { transform-origin: 0% 0%; animation: rotateDown 1s both ease-in; }

/*UI------------------*/
.page-ui.ng-enter      { animation:slideInDown 0.5s both ease-in; }
.page-ui.ng-leave      { transform-origin: 100% 0%; animation: rotateOutNewspaper 0.5s both ease-in; }

header{
    width:100%;
    height: 80px;
    overflow: hidden;
    background:rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    z-index: 3;
}
header>div{
     width: 1200px;
    overflow: hidden;
    margin:0 auto;
 }
header img{
    display: block;
    margin-top:20px;
    float: left;
}

header div>ul{
    float:right;
}
header div>ul>li{
    float:left;
    height: 52px;
    line-height: 52px;
    font-size: 24px;
    width:150px;
    margin-top: 15px;
    text-align: center;
    border:1px solid transparent;
}
header ul li a{
    font-family: "microsoft yahei";
    color: #fff;
}
.homeNav li:hover{
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border:1px solid #00bbd3;
}
.topActive{
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border:1px solid #00bbd3;
}

.form{
    width: 100%;
    border-top:1px solid  #e5e5e5;
}
.form>div{
    width:1200px;
    padding-bottom:70px;
    margin:auto;
}
.form>div>p{
    font-size: 22px;
    color: #121212;
    margin-top: 62px;
}
.form-content{
    margin-top: 60px;
}
input[name="form-company"]{
    width: 288px;
    padding-left: 10px;
    line-height:18px;
    font-size: 12px;
}
input[name="form-name"]{
    width:210px;
    padding-left:10px;
    line-height:18px;
    font-size: 12px;
    margin-left:10px;
}
input[name="form-phone"]{
    width:210px;
    padding-left:10px;
    line-height:18px;
    font-size: 12px;
    margin-left:10px;
}
textarea{
    padding:10px;
    width: 748px;
    height: 80px;
    margin-top:22px;
    margin-bottom:26px;
    resize: none;
}
input[type="submit"]{
    width: 768px;
    line-height:40px;
    font-size:17px;
    color: #fff;
    background: #00bbd3;
    border:none;
    font-family:"microsoft yahei";
}
.form-message{
    margin-left: 40px;
}
.form-message p:nth-of-type(1){
    font-size: 14px;
    color: #121212;
}
.form-message p:nth-of-type(2){
    font-size: 17px;
    color:#121212;
    margin-top:25px;
}
.form-message p:nth-of-type(3){
    margin-top:20px;
    line-height:36px;
    font-size: 14px;
    color: #121212;
    padding-left: 38px;
    background: url(../images/icon_tell.png) no-repeat left center;
}
.form-message p:nth-of-type(4){
    margin-top:20px;
    line-height:36px;
    font-size:14px;
    color: #121212;
    padding-left:38px;
    background: url(../images/icon_adress.png) no-repeat left center;
}

.home-connect{
    width: 100%;
    border-top:1px solid  #e5e5e5;
}
.home-connect >div{
    width: 1200px;
    margin:auto;
}
.home-connect ul li{
    line-height: 34px;
}
.home-connect ul li a{
    color: #121212;
    font-size: 12px;
}
.home-connect ul:first-child{
    margin-right: 60px;
}
.home-connect ul:nth-of-type(2){
    margin-right: 130px;
}
.home-connect ul:nth-of-type(3){
    margin-right: 210px;
}
.home-wx{
    margin-top: 12px;
    margin-bottom: 12px;
    width: 234px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    font-size: 14px;
    color: #121212;
    margin-right: 85px;
}
.home-phone p:first-child{
    font-size: 26px;
    color: #00bbd3;
    font-weight: bold;
}
.home-phone p:nth-of-type(2){
    font-size: 14px;
    color: #121212;
    padding-left:20px ;
    margin-top: 16px;
    margin-bottom: 8px;
}
.home-phone p:last-child{
    line-height: 30px;
    width: 120px;
    padding-left: 40px;
    border: 1px solid #00bbd3;
    color: #00bbd3;
    font-size: 14px;
    background: url(../images/home/talk.png) no-repeat 10px center;
    margin-left: 10px;
}

footer{
    width: 100%;
    background: #333;
    height: 40px;
    font-size: 18px;
    color: #707070;
}
footer a{
    color: #707070;
}
footer ul li{
    border-right:2px solid #707070 ;
    width: 88px;
    text-align: center;
}
footer ul li:last-child{
    border:none;
}
footer>div{
    margin:auto;
    width: 1200px;
    height: 40px;
}

/*创客空间*/
.home-banner{
    position:relative;
    width: 100%;
    background: url(../images/home/banner.png) no-repeat center center;
    -webkit-background-size:cover;
    background-size:cover;
    height: 560px;
}
.home-banner-message{
    position: absolute;
    width:380px;
    height:240px;
    background: rgba(0,187,211,0.7);
    left:0;
    top:210px;
}
.home-banner-message p:first-child{
    font-size:40px;
    color: #fff;
    margin-left:26px;
    margin-top:36px;
}
.home-banner-message p:nth-of-type(2){
    font-size: 20px;
    color:#fff;
    margin-left:26px;
    margin-top:30px;
}
.home-banner-message div{
    width: 130px;
    line-height:40px;
    text-align: center;
    border:1px solid #fff;
    color:#fff;
    font-size:20px;
    margin-left:26px;
    margin-top:30px;
}
.home-intro{
    width:100%;
    padding-bottom:60px;
}
.home-intro-top{
    margin-top:70px;
}
.home-intro-top p:first-child{
    font-size: 22px;
    color:#111;
    text-align: center;
}
.home-intro-top p:nth-of-type(2){
    font-size:24px;
    color: #6a6a6a;
    text-align: center;
    margin-top:6px;
}
.home-intro-top div{
    margin:auto;
    width: 35px;
    border-top:1px solid #00bbd3;
    margin-top:10px;
}
.home-intro-message{
    width:740px;
    line-height:30px;
    font-size: 20px;
    color: #000;
    text-align: center;
    margin:auto;
    margin-top:52px;
}
.home-intro-content  li p:nth-of-type(1){
    font-size: 20px;
    text-align: center;
    color: #111;
    margin-top:42px;
}
.home-intro-content  li p:nth-of-type(2){
    font-size: 20px;
    text-align: center;
    color: #5e5e5e;
    width:170px;
    line-height:30px;
}
.home-content{
    border-top:1px solid #e5e5e5;
    padding-bottom:112px;
}
.home-content ul{
    margin-top:75px;
}
.home-content li{
    height:249px;
}
.home-content-message{
    margin-left:160px;
    height: 175px;
    border-left:1px solid #070002;
    padding-left:55px;
}
.home-content-message div{
    width:140px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border:1px solid #070002;
}
.home-content-message div span{
    font-size: 27px;
    line-height:46px;
    color:#111111;
    border-bottom:2px solid #00bbd3;
}
.home-content-intro{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.2);
}
.home-content-intro p:first-child{
    font-size:40px;
    color: #fff;
    text-align: center;
}
.home-content-intro p:last-child{
    font-size:40px;
    color: #fff;
    text-align: center;
    margin-top:40px;
}
/*产品介绍*/

.java-banner-message{
    position: absolute;
    width:610px;
    height:270px;
    background: rgba(0,187,211,0.7);
    left:0;
    top:210px;
}
.java-banner-message img{
    font-size:40px;
    color: #fff;
    margin-left:26px;
    margin-top:36px;
}
.java-banner-message div{
    width: 160px;
    line-height:55px;
    text-align: center;
    border:1px solid #fff;
    color:#fff;
    font-size:20px;
    margin-left:26px;
    margin-top:30px;
}
.java-team{
    padding-top:102px;
    padding-bottom:90px;
}
.java-head{
    position: absolute;
    top:86px;
    left:50%;
    margin-left:-226px;
    background: #fff;
}
.java-head span{
    display: inline-block;
}
.java-head span:first-child{
    width:150px;
    height: 3px;
    background: #00bbd3;
}
.java-head span:nth-of-type(2){
    font-size:33px;
    color:#111;
    margin:0 10px;
}
.java-head span:last-child{
    width:150px;
    height: 3px;
    background: #00bbd3;
}
.java-team ul li{
    width: 20%;
    height:260px;
    border:1px solid #eeeeee;
}
.java-product{
    padding-top:80px;
    padding-bottom:40px;
    background: #f5f5f5;
}
.java-product-nav{
    margin-top:70px;
}
.java-product-nav li{
    width:174px;
    height: 45px;
    line-height:45px;
    text-align: center;
    font-size:16px;
    color:#111;
    background: #ffffff;
    margin-left:10px;
}
.java-product-content{

}
.java-product-content li{
    width:289px;
    height:288px;
    text-align: center;
    background: #fff;
    margin-top:20px;
}
.java-product-button{
    width: 85px;
    height: 20px;
    line-height:20px;
    color:#00bbd3;
    background: #fff;
    text-align: center;
    border:1px solid #00bbd3;
    margin:auto;
    margin-top: 10px;
}
.java-product-btn{
    width: 150px;
    height: 40px;
    line-height:40px;
    color:#fff;
    background: #00bbd3;
    text-align: center;
    border-radius: 4px;
    margin:auto;
    margin-top: 44px;
}
.java-example{
    padding-top:80px;
}
.java-example-content{
    margin-top:40px;
}
.java-example-content li{
    width:186px;
    height:130px;
    position: relative;
}
.java-example-intro{
    width: 100%;
    height:40px;
    line-height:40px;
    text-align: center;
    position:absolute;
    top:50%;
    left:0;
    margin-top:-20px;
    font-size: 16px;
    color: #fff;
    background:rgba(0,0,0,0.3);
}
/**/
.php-banner{
    position:relative;
    width: 100%;
    background: url(../images/home/banner.png) no-repeat center center;
    -webkit-background-size:cover;
    background-size:cover;
    height: 866px;
}
.php-banner-message{
    position: absolute;
    bottom:0;
    width: 100%;
    height:306px;
    background: rgba(0,0,0,0.5);
}
.php-banner-li{
    width: 211px;
    height: 163px;
    background-repeat:no-repeat;
    background-position: 0 0;
    padding:65px 40px 0 30px;
}
.php-banner-message li:nth-of-type(1){
    background-image: url(../images/php/banner-bg1.png);
}
.php-banner-message li:nth-of-type(2){
    background-image: url(../images/php/banner-bg2.png);
}
.php-banner-message li:nth-of-type(3){
    background-image: url(../images/php/banner-bg3.png);
}
.php-banner-message li:nth-of-type(4){
    background-image: url(../images/php/banner-bg4.png);
}
.php-position{
    background-position: 0 -228px;
}
.php-banner-slider{
    width: 240px;
    margin:auto;
    margin-top:20px;
}
.slider{
    display: inline-block;
    width: 38px;
    height:5px;
    background: #fff;
    margin-left:15px;
    background: #fff;
}
.slider-active{
    background: #00bbd3;
}
.php-advantage{
    padding-top:67px;
}
.php-advantage ul{
    margin-top:20px;
}
.php-advantage ul li{
    margin-top:60px;
    width:530px;
    height:120px;
}
/*关于我们*/
.ui-banner{
    position:relative;
    width: 100%;
    background: url(../images/home/banner.png) no-repeat center center;
    -webkit-background-size:cover;
    background-size:cover;
    height: 560px;
}
.ui-banner-message{
    position: absolute;
    width:240px;
    height:366px;
    background: #00bbd3;
    left:0;
    top:320px;
    padding:0 20px 0 20px;
}
.ui-banner-message p:first-child{
    font-size:32px;
    color: #fff;
    line-height:56px;
    margin-top:45px;
}
.ui-banner-message p:nth-of-type(2){
    font-size: 18px;
    color:#fff;
    margin-top:20px;
    line-height:30px;
}
.ui-banner-message div{
    width: 130px;
    line-height:40px;
    text-align: center;
    border:1px solid #fff;
    color:#fff;
    font-size:20px;
    margin-left:55px;
    margin-top:35px;
}
.ui-intro{
    width:100%;
    padding-bottom:60px;
}
.ui-intro-top{
    margin-top:110px;
}
.ui-intro-top p:first-child{
    font-size: 22px;
    color:#111;
    text-align: center;
}
.ui-intro-top p:nth-of-type(2){
    font-size:24px;
    color: #6a6a6a;
    text-align: center;
    margin-top:6px;
}
.ui-intro-top div{
    margin:auto;
    width: 35px;
    border-top:1px solid #00bbd3;
    margin-top:10px;
}
.ui-intro-content li{
    width:50%;
    margin-top:80px;
}
.ui-intro-content  li p:nth-of-type(1){
    font-size: 20px;
    text-align: center;
    color: #111;
    margin-top:42px;
}
.ui-intro-content  li p:nth-of-type(2){
    font-size: 20px;
    text-align: center;
    color: #5e5e5e;
    width:170px;
    line-height:30px;
}
.ui-content{
    border-top:1px solid #e5e5e5;
    padding-bottom:88px;
}
.ui-content li{
    width:25%;
}
.ui-industry{
    width:100%;
    border-top:1px solid #eeeeee;
    padding-bottom:68px;
}
.ui-industry-top{
    margin-top:60px;
}
.ui-industry-top p:first-child{
    font-size: 22px;
    color:#111;
    text-align: center;
}
.ui-industry-top p:nth-of-type(2){
    font-size:24px;
    color: #6a6a6a;
    text-align: center;
    margin-top:6px;
}
.ui-industry-top div{
    margin:auto;
    width: 35px;
    border-top:1px solid #00bbd3;
    margin-top:10px;
}
.ui-industry li{
    width:50%;
}


.ccontainer_image{width:1200px;height:500px;margin:0 auto;position:relative;}
.add{background:url(../images/a_more.png) no-repeat 0 0;width:60px;height:60px;position:absolute;left:50%;margin-left:-30px;bottom:30px;z-index:4;cursor:pointer;display:none;}
.ccontainer_image .i_btn{display:block;width:230px;height:400px;position:absolute;top:80px;z-index:3;background:transparent;}
.ccontainer_image .prev_L{left:0px;background-position:0 0;}
.ccontainer_image .next_R{right:10px;}
.cslide_img {width:880px;height:400px;position:relative;z-index:1;}
.cslide_img li{width:180px;height:380px;overflow:hidden;position:absolute;top:15px;background:#f6fff4;}
.cslide_img li a{display:block;position:relative;width:100%;height:100%;height:440px;}
.cslide_img li a img{position:absolute;height:100%;top:40px;}
.cslide_img li.on a{height:494px;}
.cslide_img li.on{width:800px;left:190px;left:190px;top:0;box-shadow:0 0 15px rgba(0,0,0,0.6) ;overflow:hidden;}
.cslide_img li.on img{width:100%;top:0px;}
.cslide_img li.left{left:0;}
.cslide_img li.right{left:0;}
.cslide_img li.mid{left:190px;}
.cslide_img li .info{height:134px;padding-top:6px;position:absolute;left:0;bottom:0;width:94%;padding:0 3%;color:#ffffff;display:none;z-index:3;}
.cslide_img li .icon{background:url(../images/a_more.png) no-repeat 0 0;width:60px;height:60px;position:absolute;left:370px;bottom:30px;z-index:4;}
.cslide_img li.on .icon{display:block;}
.cslide_img li .bg{width:100%;height:142px;background:#000000;opacity:0.6;-moz-opacity:0.6;filter:alpha(opacity=60);position:absolute;left:0;bottom:0;z-index:0;display:none;}
.cslide_img li .info span{font-size:18px;display:block; padding:7px 0;height:36px;overflow:hidden;padding-left:12px;background:url(../images/tibg3.png) no-repeat 0 center;line-height:36px;}
.cslide_img li .info p{font-size:16px;line-height:24px;height:48px;overflow:hidden;}
.cslide_img li .info i{display:block;width:60px;height:60px;background:url(../images/a_more.png) no-repeat 0 -60px;cursor:pointer;position:absolute;left:50%;margin-left:-30px;top:-30px;}

.homeSlide .container_image{width:1200px;height:399px;margin:0 auto;position:relative;}
.homeSlide .add{background:url(../images/a_more.png) no-repeat 0 0;width:60px;height:60px;position:absolute;left:50%;margin-left:-30px;bottom:30px;z-index:4;cursor:pointer;display:none;}
.homeSlide .container_image .i_btn{display:block;width:50px;height:70px;position:absolute;top:80px;z-index:3;}
.homeSlide .container_image .prev_L{left:0px;top:180px;background: url(../images/home/btn_right.png) no-repeat center center;}
.homeSlide .container_image .next_R{right:20px;top:180px;background: url(../images/home/btn_left.png) no-repeat center center}
.homeSlide .slide_img {width:880px;height:400px;position:relative;z-index:1;}
.homeSlide .slide_img li{width:180px;height:380px;overflow:hidden;position:absolute;top:15px;background:#ffffff;}
.homeSlide .slide_img li a{display:block;position:relative;width:100%;height:100%;height:440px;}
.homeSlide .slide_img li a img{position:absolute;height:100%;top:40px;}
.homeSlide .slide_img li.on a{height:399px;}
.homeSlide .slide_img li.on{width:800px;left:190px;top:0;box-shadow:0 0 15px rgba(0,0,0,0.6) ;overflow:hidden;}
.homeSlide .slide_img li.on img{width:100%;top:0px;}
.homeSlide .slide_img li.left{left:0;opacity:0.5;}
.homeSlide .slide_img li.right{opacity:0.5;}
.homeSlide .slide_img li.mid{left:190px;}
.homeSlide .slide_img li .info{height:134px;padding-top:6px;position:absolute;left:0;bottom:0;width:94%;padding:0 3%;color:#ffffff;display:none;z-index:3;}
.homeSlide .slide_img li .icon{background:url(../images/a_more.png) no-repeat 0 0;width:60px;height:60px;position:absolute;left:370px;bottom:30px;z-index:4;}
.homeSlide .slide_img li.on .icon{display:block;}
.homeSlide .slide_img li .bg{width:100%;height:142px;background:#000000;opacity:0.6;-moz-opacity:0.6;filter:alpha(opacity=60);position:absolute;left:0;bottom:0;z-index:0;display:none;}
.homeSlide .slide_img li .info span{font-size:18px;display:block; padding:7px 0;height:36px;overflow:hidden;padding-left:12px;background:url(../images/tibg3.png) no-repeat 0 center;line-height:36px;}
.homeSlide .slide_img li .info p{font-size:16px;line-height:24px;height:48px;overflow:hidden;}
.homeSlide .slide_img li .info i{display:block;width:60px;height:60px;background:url(../images/a_more.png) no-repeat 0 -60px;cursor:pointer;position:absolute;left:50%;margin-left:-30px;top:-30px;}
.homeSlide .teacher{left:0;top:250px;position:absolute;z-index:9;width:240px;height:75px;background:#00bbd3;opacity:0.8;}
.homeSlide .teacher p:first-child{padding-left:20px;line-height:40px;font-size:22px;color:#fff;}
.homeSlide .teacher p:last-child{padding-left:20px;font-size:18px;color:#fff;}
.homeTeacherIntro{
    text-indent:44px;
    font-size: 22px;
    line-height: 40px;
    color: #121212;
    padding:0 115px;
    width: 970px;
}
.phpPhoto{
    width: 827px;
    height: 483px;
    padding:45px 36px 0 36px;
    margin:auto;
    background: url(../images/php/proj_bg.png) no-repeat center center;
}
#container { width: 827px; height: 482px;  overflow: hidden; position: relative;}
#list { width: 4962px; height: 482px; position: absolute; z-index: 1;}
#list img { float: left;}
.arrow { cursor: pointer; display: block;  text-align: center;  font-weight: bold; width: 64px; height: 100px;  position: absolute; z-index: 2;  background-color: RGBA(0,0,0,.3); color: #fff;}
#prev { left: 20px;top:188px;background:url(../images/php/left.png) no-repeat center center;}
#next { right: 20px;top:188px;background:url(../images/php/right.png) no-repeat center center;}

.am-share { font-size: 14px; border-radius: 0; top:236px; left: 0;;right:0;margin:auto; position: fixed; text-align: center; width: 546px;height:364px; z-index: 1110;display:none; }
.am-modal-out { z-index: 1109; -webkit-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%) }
.am-share-title { background-color: #fff; border-bottom: 1px solid #d9d9d9;  color: #00bbd3; font-weight: 400;height: 50px;  line-height: 50px;font-size: 18px;text-align: left;padding:0 24px 0 18px; }
.am-share-title  span{ float:right;font-size: 52px;font-weight:100;color: #00bbd3;line-height: 40px;cursor: pointer;}
.am-share-title::after { border-bottom: 1px solid #dfdfdf; content: ""; display: block; height: 0; margin-top: 10px; width: 100%; }
.sharebg { background-color: rgba(0, 0, 0, 0.6); bottom: 0; height: 100%; left: 0; opacity: 0; position: fixed; right: 0; top: 0; width: 100%; z-index: 1100; display:none; }
.sharebg-active { opacity: 1; display:block; }
#to_top{width:40px; height:74px;  background:url(../images/go-top.png) no-repeat center top; position:fixed; cursor:pointer; right: 0;bottom:0 ;}
#to_top:hover{background-position:center -74px;}

.phpIntro li:hover{
    background: rgba(200,200,200,0.5);
}